* {
    background-image: none;
}

window {
    background-color: transparent;
    background-image: url("/tmp/wlogout-bg.png");
    background-size: cover;
    background-position: center;
}

button {
    outline-style: none;
    color: #D3C6AA;
    background-color: rgba(45, 53, 59, 0.75);
    border-style: solid;
    border-color: #3A515D;
    border-width: 2px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 15px;
    box-shadow: none;
    text-shadow: none;
}

button:active, button:hover {
    background-color: rgba(127, 187, 179, 0.55);
    border-color: #7FBBB3;
    outline-style: none;
    color: #2D353B;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 15px;
    box-shadow: none;
    text-shadow: none;
}

button:focus {
    border-color: #3A515D;
    outline-style: none;
}

#lock {
    background-image: image(url("/home/jklinke/.config/wlogout/icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/jklinke/.config/wlogout/icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/jklinke/.config/wlogout/icons/sleep.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/jklinke/.config/wlogout/icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/jklinke/.config/wlogout/icons/power.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/jklinke/.config/wlogout/icons/restart.png"), url("/usr/share/wlogout/icons/reboot.png"));
}
